<div class="mt-4">
<form method="POST" action="">
  <div class="mb-3">
    <label for="search" class="form-label">Nhập từ khóa</label>
    <input type="text" name="q" class="form-control" placeholder="Nhập từ khóa tìm kiếm">
    
  </div>
   <div class="mb-3">
    <label for="gender-input" class="form-label">Nhập từ khóa</label>
    <select name="gender" class="form-control">
      <option value="">-- Chọn giới tính</option>
      <option value="male">Nam</option>
      <option value="famale">Nữ</option>

    </select>

    
  </div>
 
  <button type="submit" class="btn btn-primary">Tìm kiếm </button>
</form>

</div>